.classify{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
 .header{
     width: 100%;
     height: 40px;
     line-height:40px;
     text-align: center;
     border-bottom: 0.02rem solid #ccc;
     input{
         width: 90%;
         height: 30px;
         background: #ededed;
         border: none;
         outline: none;
         padding-left: 20%;
         border-radius:5px
     }
 }
.main{
    display: flex;
    flex: 1;
    overflow: hidden;
    
    .left{
        flex:3;
        height: 100%;
        border-right: 0.02rem solid #ccc;
        text-align: center;
        line-height: 50px;   
        .active{
          border-left: 1px solid skyblue;
          color: skyblue;
        }   
    }
    
    .right{
        flex: 7;
        height: 100%;
        overflow: auto;
        .top{
            width: 100%;
            height: 100px;
          //   background: skyblue;
          img{
            width: 100%;
            height: 100px;
          }
        }
        .bottom{
            width: 100%;
            display: flex;
            overflow: auto;
            flex-wrap: wrap;
            .item{
                width: 50%;
                height: 2.9rem;
                display: flex;
                flex-direction: column;
                p{
                  &:nth-of-type(1){
                    width: 100%;
                    height: 127px;
                    text-align: center;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                  }
                  &:nth-of-type(2){
                    width: 100%;
                    height: 18px;
                    line-height: 18px;
                    text-align: center;
                  }
                }
      
            }
        }
    }
}
}