body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 1.5rem;
}
footer a{
  text-decoration: none;
  color: #000;
  font-size: 0.3rem;
  line-height:1.5rem ;
  text-align: center;
  margin-left: 0.64rem;
}
footer a.active{
  color: aquamarine;
}
.pic{
  height: 4rem;
}
