.tabPageContent {
  min-height: 100%;
}

.tabPageContent .cart {
  padding: .8rem 0 1.1rem;
}

.tabPageContent .cart .serviceList {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: .8rem;
  background: #f4f4f4;
  justify-content: center;
  align-items: center;
  display: flex;
}

.tabPageContent .cart .serviceList div {
  flex: 1;
  color: #666;
  font-size: .24rem;
  text-align: center;
}

.tabPageContent .cart .serviceList div span {
  color: red;
  margin-right: .15rem;
  font-size: .3rem;
}
