* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login input {
  border: 1px solid #000;
}

.login input, .login button {
  height: .8rem;
  width: 80%;
  margin-left: .8rem;
}

.login button {
  background: blue;
  border: none;
  color: #fff;
  font-size: .3rem;
}

.main {
  flex: 1;
  overflow: auto;
  background: #f1f1f1;
}

.main .swiper-container {
  width: 100%;
  height: 4rem;
}

.main .swiper-container img {
  width: 100%;
  height: 100%;
}

.main .swiper-container .swiper-pagination {
  margin-top: 1rem;
}

.main .channelWrap {
  width: 100%;
  height: 1.4rem;
  padding: .1rem 0;
  margin-top: .05rem;
  background: #fff;
  display: flex;
}

.main .channelWrap a {
  width: 20%;
  height: 100%;
  color: #000;
  font-size: .24rem;
  text-align: center;
}

.main .channelWrap img {
  height: 80%;
  display: block;
  padding: .2rem;
  margin: auto;
}

.main .brandBox, .main .newGoodsBox, .main .hotGoodsBox, .main .topGoodsBox {
  margin-top: .2rem;
  background: #fff;
}

.main .brandBox .brandBox, .main .brandBox .brandItem {
  width: 50%;
  height: 2.2rem;
  position: relative;
}

.main .brandBox .brandWrap .brandItemName {
  position: absolute;
  top: .2rem;
  left: .2rem;
  font-size: .3rem;
}

.main .brandBox .brandWrap .brandItemMinPrice {
  position: absolute;
  top: .6rem;
  left: .2rem;
  font-size: .24rem;
  color: #a9a9a9;
}

.main .brandBox .brandWrap img {
  width: 100%;
  height: 100%;
  max-height: 4rem;
}

.brandTitle, .newGoodsTitle, .hotGoodsTitle, .topGoodsTitle {
  height: 1rem;
  background: #fff;
  text-align: center;
  font-size: .3rem;
  line-height: 1rem;
  letter-spacing: .02rem;
  font-weight: 700;
}

.brandWrap, .newGoodsWrap {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

.newGoodsBox .newGoodsItem {
  width: 50%;
  height: 4rem;
}

.newGoodsBox .newGoodsItem img {
  height: 70%;
  width: 100%;
}

.newGoodsBox .newGoodsItem .newGoodsName, .newGoodsBox .newGoodsItem .newGoodsPrice {
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .3rem;
}

.newGoodsBox .newGoodsItem .newGoodsPrice {
  color: #8b0000;
}

.hotGoodsBox .hotGoodsWrap {
  width: 100%;
  padding: 0 .2rem;
  min-height: 200px;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem > div > div {
  height: 33.3333%;
  display: flex;
  align-items: center;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem {
  height: 3rem;
  position: relative;
  padding: .1rem 0;
  display: flex;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem img {
  width: auto;
  height: 100%;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem .hotGoodsInfos {
  flex: 1;
  padding: .5rem 0;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem .hotGoodsInfos .hotGoodsName {
  font-size: .32rem;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem .hotGoodsInfos .hotGoodsInfo {
  color: #a9a9a9;
  font-size: .28rem;
}

.hotGoodsBox .hotGoodsWrap .hotGoodsItem .hotGoodsInfos .hotGoodsPrice {
  color: #8b0000;
  font-size: .3rem;
}

.topGoodsBox .topGoodsWrap {
  height: 5.24rem;
  padding-bottom: .2rem;
  overflow: hidden;
}

.topGoodsBox .topGoodsWrap .topGoodsItem {
  height: 5rem;
}

.topGoodsBox .topGoodsWrap .topGoodsItem img {
  height: 4rem;
  width: 100%;
}

.topGoodPrice {
  color: #8b0000;
}

.topGoodTitle {
  font-size: .24rem;
  color: grey;
  margin-top: .1rem;
  height: .4rem;
  line-height: .4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cateGoryBox {
  height: auto;
}

.cateGoryBox .cateGoryName {
  height: 1rem;
  text-align: center;
  line-height: 1rem;
}

.cateGoryBox .cateGoryGoodsWrap {
  display: flex;
  flex-wrap: wrap;
}

.cateGoryBox .cateGoryGoodsWrap .div {
  width: 50%;
  height: auto;
  background: #fff;
  padding: .2rem;
  position: relative;
}

.cateGoryBox .cateGoryGoodsWrap .div div:nth-child(odd):after {
  border: 1px solid #f5f5f9;
  border-left-width: 2px;
}

.cateGoryBox .cateGoryGoodsWrap .div .goodsItemImg {
  min-height: 2rem;
}

.cateGoryBox .cateGoryGoodsWrap .div .goodsItemImg img {
  width: 100%;
  height: auto;
}

.cateGoryBox .cateGoryGoodsWrap .div .goodsItemName {
  padding-bottom: .3rem;
  padding-top: .1rem;
}

.cateGoryBox .cateGoryGoodsWrap .div .goodsItemName, .cateGoryBox .cateGoryGoodsWrap .div .goodsItemPrice {
  text-align: center;
  font-size: .28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cateGoryBox .cateGoryGoodsWrap .div .goodsItemPrice {
  color: red;
}

.cateGoryBox .cateGoryGoodsWrap .div .categoryMoreGoods {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 1rem;
  line-height: 0.5rem;
  display: flex;
}

.footer a {
  flex: 1;
  color: #000;
  font-size: .24rem;
  line-height: .4rem;
  text-align: center;
}

.footer .active {
  color: #2196f3 !important;
}
